{% extends 'blog/base.html' %}

{% block content %}

<div class="card">
  <div class="card-body">
    
  
    <h2 class="my-4">{{ post_data.title }}</h2>
    <p>{{ post_data.category }}</p>
    <hr>
    <p>{{ post_data.created }} by {{ post_data.author }}</p>
    <p>カテゴリー：{{ post_data.category }}</p>
    <hr>
    

    {% for card in post_data.contentcard.all %}
        
        {% if card.image %}
            <p><img src="{{ card.image.url }}" alt="" class="rounded detail-img"><p>
            
        {% endif %}
        <p>{{ card.content }}</p>
        
    {% endfor %}
    
    
    {% if user.is_authenticated %}
        {% if request.user == post_data.author  %}
            <hr>
            <div class="d-flex mb-5">
                <a href="{% url 'post_edit' post_data.id %}" class="btn btn-warning mr-2">編集する</a>
                <a href="{% url 'post_delete' post_data.id %}" class="btn btn-danger">削除する</a>
            </div>
        {% endif %}
    {% endif %}

    </div>
</div>

{% endblock %}